---
---

@import "{{ site.theme }}";

.header {
    font-size: 1.25em;
    border-bottom: 1px solid #eaecef;
    padding: 4px 0;
}

.my-5 {
    margin-top: 0px !important;
}

.markdown-body h1, .markdown-body h2 {
    border-bottom: 0 none;
}

.markdown-body h1 {
    padding-top: 0.5em;
    margin-top: 16px
}
.markdown-body h2 {
    padding-bottom: 0;
}
